<h3>Welcome to the Grand Circus Web Task Manager!</h3>
<br />
<br />
<fieldset>
    <Legend>What the Task Manager does: </Legend>
    <ul> Create an account</ul>
    <ul> Create a task </ul>
    <ul> Set a due date</ul>
    <ul> Mark task as complete</ul>
    <br />
    <br />
</fieldset>
    <html>
    <body>
        <h4>Learn more about Grand Circus in the video below!</h4>
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t5gdLQWsiCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </body>
</html>

