

<form method="post" action="Result">
    <fieldset>
        <h2>Log In</h2>
        <br />
        <p>Email: </p> <input type="email" name="Email" />
        <br />
        <p>Password: </p> <input type="password" name="Password" />
        <br />
    </fieldset>
    <br />
    <input type="submit" value="Log In" />
</form>